Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2019-06, with the labels that each got.

#198 Remind user to check yaml file before creating a cluster
  README.md
  cmd/clusterctl/examples/ibmcloud/machines.yaml.template
  docs/ibmcloud_help.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/S

#215 Fixed golint issue.
  hack/verify-golint.sh
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#217 clarify ssh key creation documentation
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/S

#218 move log info to v3 level
  pkg/cloud/ibmcloud/deployer.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#220 make command line format consistent for better debug message display
  pkg/cloud/ibmcloud/deployer.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#223 Adding KIND to clusterctl docker image
  cmd/clusterctl/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/S

#228 add command line options for ibm cloud operation
  cmd/manager/main.go
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
  pkg/cloud/ibmcloud/options/options.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/M

#214 Add nod ref
  config/rbac/rbac_role.yaml
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/M

#225 Make timeout configurable
  config/manager/manager.yaml
  pkg/cloud/ibmcloud/clients/machines.go
  pkg/cloud/ibmcloud/options/options.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/S

#238 correct word
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/XS

#236 README: How to use clusterctl
  README.md
  docs/how_to_use_clusterctl.md
  examples/clusterctl/clusterrole.yaml
  examples/clusterctl/clusterrolebinding.yaml
  examples/clusterctl/job.yaml
  examples/clusterctl/serviceaccount.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/L

#237 Add machines.yaml sample
  README.md
  docs/images/ibmcloud-machines_yaml_sshKeyname.png
  docs/images/ibmcloud-softlayersshkeys.png
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/XS

#239 Revert cluster-api branch to release-0.1
  Gopkg.lock
  Gopkg.toml
  vendor/sigs.k8s.io/cluster-api/Dockerfile
  vendor/sigs.k8s.io/cluster-api/Makefile
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/bootstrap/kind/kind.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/bootstrap/minikube/minikube.go
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/docs/book/SUMMARY.md
  vendor/sigs.k8s.io/cluster-api/docs/glossary.md
  vendor/sigs.k8s.io/cluster-api/docs/scope-and-objectives.md
  vendor/sigs.k8s.io/cluster-api/pkg/controller/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machinedeployment/machinedeployment_controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machineset/machineset_controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/noderef_controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/remote/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/controller/remote/cluster.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/remote/util.go
  vendor/sigs.k8s.io/cluster-api/pkg/provider/example/container/Dockerfile
  vendor/sigs.k8s.io/cluster-api/scripts/ci-integration.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/L

#243 Fix typo and add some cases for readability
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/M

#244 Added a new section for how to request member.
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/S

#232 Add flavor support
  cmd/clusterctl/examples/ibmcloud/machines.yaml.template
  config/crds/ibmcloud_v1alpha1_ibmcloudmachineproviderspec.yaml
  docs/add_node.md
  docs/ibmcloud_help.md
  pkg/apis/ibmcloud/v1alpha1/ibmcloudmachineproviderspec_types.go
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
  pkg/cloud/ibmcloud/clients/machines.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/M

#245 Updated ubuntu example to use flavor.
  examples/ubuntu/machines.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#248 fix warning '7c592eb' should not be abbreviated form
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/softlayer/softlayer-go/datatypes/account.go
  vendor/github.com/softlayer/softlayer-go/datatypes/container.go
  vendor/github.com/softlayer/softlayer-go/datatypes/exception.go
  vendor/github.com/softlayer/softlayer-go/datatypes/hardware.go
  vendor/github.com/softlayer/softlayer-go/datatypes/metric.go
  vendor/github.com/softlayer/softlayer-go/datatypes/network.go
  vendor/github.com/softlayer/softlayer-go/datatypes/security.go
  vendor/github.com/softlayer/softlayer-go/datatypes/ticket.go
  vendor/github.com/softlayer/softlayer-go/datatypes/user.go
  vendor/github.com/softlayer/softlayer-go/services/account.go
  vendor/github.com/softlayer/softlayer-go/services/brand.go
  vendor/github.com/softlayer/softlayer-go/services/hardware.go
  vendor/github.com/softlayer/softlayer-go/services/network.go
  vendor/github.com/softlayer/softlayer-go/services/security.go
  vendor/github.com/softlayer/softlayer-go/services/ticket.go
  vendor/github.com/softlayer/softlayer-go/services/user.go
  vendor/github.com/softlayer/softlayer-go/services/virtual.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XXL

#250 Fix docs to add some lines
  docs/ibmcloud_help.md
  docs/trouble_shooting.md
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#249 Add a tips for use kind to create a cluster
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/XS

#254 Correct the link for install kubectl.
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#246 add taint support to master and worker node
  cmd/clusterctl/examples/ibmcloud/provider-component/user-data/ubuntu/templates/master-user-data.sh
  cmd/clusterctl/examples/ibmcloud/provider-component/user-data/ubuntu/templates/worker-user-data.sh
  docs/taint_node.md
  pkg/cloud/ibmcloud/actuators/machine/machine_script.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/M

#242 Customize ssk key file
  README.md
  cmd/clusterctl/examples/ibmcloud/generate-yaml.sh
  pkg/cloud/ibmcloud/deployer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/M

#255 Add kubectl version check in generate-yaml.sh file: if kubectl versio…
  cmd/clusterctl/examples/ibmcloud/generate-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/XS

#257 Add unit test code of GO/Shell functions for custom SSH key file
  Makefile
  pkg/cloud/ibmcloud/deployer_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/M
