Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2019-07, with the labels that each got.

#264 update version 1.14 to 1.15
  cmd/clusterctl/examples/ibmcloud/machines.yaml.template
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#263 enhance log for set node ref
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/XS

#265 Update error message
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/XS

#262 Add more log to help debug update issue
  pkg/cloud/ibmcloud/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, lgtm, sig/ibmcloud, size/M

#270 add unit test for all functions of deployer.go
  pkg/cloud/ibmcloud/deployer_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/M

#271 Add unit test and remove duplicated comment
  pkg/cloud/ibmcloud/actuators/cluster/actuator.go
  pkg/cloud/ibmcloud/actuators/cluster/actuator_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/ibmcloud, size/L
