Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2022-11, with the labels that each got.

#938 Changes to support ibmpowervs image deletion without cluster reference
  cloud/scope/powervs_image.go
  controllers/ibmpowervsimage_controller.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#899 Add externally managed annotations to IBMPowerVSCluster resource
  controllers/ibmpowervscluster_controller.go
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#946 Fix minor issue with installing ibmcloud cli
  scripts/ci-e2e.sh
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#953 Update cluster-api to v1.2.5
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#954 [release-0.3] Update cluster-api to v1.2.5 (#953)
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#920 Deprecate SSHKeys in favor of SSHKeysRef variable
  api/v1alpha3/conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/ibmvpc_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/ibmvpcmachine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cloud/scope/machine.go
  cloud/scope/machine_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  pkg/cloud/services/vpc/mock/vpc_generated.go
  pkg/cloud/services/vpc/service.go
  pkg/cloud/services/vpc/vpc.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, approved

#963 Update release version in metadata.yaml and test config file
  metadata.yaml
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#961 Add doc for dependecy version mapping
  docs/book/src/SUMMARY.md
  docs/book/src/developer/dependencies.md
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/S, approved

#967 Add clusterclass support for Power VS
  PROJECT
  api/v1beta1/ibmpowervsclustertemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmpowervsclustertemplates.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_ibmpowervsclustertemplates.yaml
  config/crd/patches/webhook_in_ibmpowervsclustertemplates.yaml
  config/rbac/ibmpowervsclustertemplate_editor_role.yaml
  config/rbac/ibmpowervsclustertemplate_viewer_role.yaml
  config/samples/infrastructure_v1beta1_ibmpowervsclustertemplate.yaml
  templates/cluster-template-simple-powervs-clusterclass.yaml
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, approved

#962 Update cluster-api, golang and K8s bits
  .golangci.yml
  Dockerfile
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmpowervsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmpowervsclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmpowervsimages.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmpowervsmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmpowervsmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  go.mod
  go.sum
  hack/ccm/Dockerfile
  hack/ensure-go.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  netlify.toml
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
  test/e2e/data/shared/metadata.yaml
  test/e2e/e2e_test.go
  test/e2e/suite_test.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, approved

#976 Revert: Deprecate SSHKeys in favor of SSHKeysRef variable
  api/v1alpha3/conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/ibmvpc_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/ibmvpcmachine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cloud/scope/machine.go
  cloud/scope/machine_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  pkg/cloud/services/vpc/mock/vpc_generated.go
  pkg/cloud/services/vpc/service.go
  pkg/cloud/services/vpc/vpc.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#969 Added documentaion for usage of ClusterClass to create Power VS cluster
  docs/book/src/SUMMARY.md
  docs/book/src/developer/tilt.md
  docs/book/src/getting-started.md
  docs/book/src/topics/powervs/clusterclass-cluster.md
  docs/book/src/topics/powervs/index.md
  templates/cluster-template-simple-powervs-clusterclass.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M
