Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2023-04, with the labels that each got.

#1177 Update cluster-api to v1.4.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#1181 Update cluster-api to v1.4.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#1174 Add Webhooks for IBMPowerVSClusterTemplate
  api/v1beta2/ibmpowervsclustertemplate_webhook.go
  api/v1beta2/ibmpowervsclustertemplate_webhook_test.go
  api/v1beta2/suite_test.go
  cloud/scope/suite_test.go
  config/webhook/manifests.yaml
  controllers/suite_test.go
  main.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, ok-to-test, size/L, approved

#1168 Add capibmadm tool related targets
  Dockerfile
  Makefile
  cmd/capibmadm/cmd/powervs/powervs.go
  cmd/capibmadm/cmd/root.go
  cmd/capibmadm/cmd/version/doc.go
  cmd/capibmadm/cmd/version/version.go
  cmd/capibmadm/cmd/vpc/vpc.go
  go.mod
  version/version.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#1188 Enable DOCKER_BUILDKIT
  cloudbuild.yaml
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#1189 Add DOCKER_BUILDKIT var to fix E2E tests
  scripts/ci-e2e.sh
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/S, approved

#1192 update calico spec used by e2e tests
  test/e2e/data/cni/calico/calico.yaml
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, approved

#1196 Update the IBM packages to latest ones
  go.mod
  go.sum
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#1197 update IBM packages
  go.mod
  go.sum
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#1194 update and cleanup of book docs
  README.md
  docs/book/book.toml
  docs/book/src/SUMMARY.md
  docs/book/src/developer/tilt.md
  docs/book/src/getting-started.md
  docs/book/src/introduction.md
  docs/book/src/topics/capibmadm/index.md
  docs/book/src/topics/capibmadm/powervs/index.md
  docs/book/src/topics/powervs/clusterclass-cluster.md
  docs/book/src/topics/powervs/creating-a-cluster.md
  docs/book/src/topics/powervs/external-cloud-provider.md
  docs/book/src/topics/powervs/index.md
  docs/book/src/topics/powervs/prerequisites.md
  docs/book/src/topics/vpc/creating-a-cluster.md
  docs/book/src/topics/vpc/load-balancer.md
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#1206 Update cluster-api to v1.2.12
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#1207 Update cluster-api to v1.3.6
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M
