Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2024-11, with the labels that each got.

#1769 Add support for pausing cluster reconcilation
  controllers/ibmpowervscluster_controller.go
  controllers/ibmpowervsmachine_controller.go
  main.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#2038 Fix webhook panic when VPC is nil in IBMPowerVSCluster spec
  api/v1beta2/ibmpowervscluster_webhook.go
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#2037 Use ignition only when Ignition is set in IBMPowerVSCluster
  cloud/scope/powervs_machine.go
  controllers/ibmpowervsmachine_controller.go
  controllers/ibmpowervsmachine_controller_test.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2039 Explicitly return error incase of not able to set provider id in correct format
  cloud/scope/powervs_machine.go
  controllers/ibmpowervsmachine_controller.go
  controllers/ibmpowervsmachine_controller_test.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2031 Improve UT coverage for IBMPowerVSCluster controller
  cloud/scope/powervs_cluster.go
  controllers/ibmpowervscluster_controller_test.go
  go.mod
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, approved

#1979 Adds UT for ReconcileLoadBalancers function
  .gitignore
  cloud/scope/powervs_cluster_test.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, ok-to-test, approved

#2032 Added UT for reconcilePowerVSResources function
  controllers/ibmpowervscluster_controller_test.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, ok-to-test, size/L, approved

#2046 Add UT for reconcileDelete function
  controllers/ibmpowervscluster_controller.go
  controllers/ibmpowervscluster_controller_test.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, ok-to-test, size/L, approved

#2049 Improve UT coverage for IBMPowerVSCluster deletion flow
  cloud/scope/powervs_cluster_test.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, ok-to-test, approved

#2023 Vpc reconcile lbs
  api/v1beta2/types.go
  cloud/scope/vpc_cluster.go
  controllers/ibmvpccluster_controller.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, ok-to-test, approved

#2035 UT for ReconcileCOSInstance functionality
  cloud/scope/powervs_cluster_test.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, ok-to-test, approved

#2036 Add UT for ReconcileTransitGateway
  cloud/scope/powervs_cluster_test.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, ok-to-test, approved

#2011 Add UT for ReconcileVPCSecurityGroups function
  cloud/scope/powervs_cluster.go
  cloud/scope/powervs_cluster_test.go
Labels: lgtm, area/provider/ibmcloud, size/XXL, cncf-cla: yes, ok-to-test, approved

#2050 Added UT for powervs_cluster delete functions
  cloud/scope/powervs_cluster_test.go
Labels: lgtm, area/provider/ibmcloud, size/XL, cncf-cla: yes, ok-to-test, approved

#1927 UT update for powervs machine
  cloud/scope/common_test.go
  cloud/scope/powervs_machine.go
  cloud/scope/powervs_machine_test.go
Labels: lgtm, area/provider/ibmcloud, size/XXL, cncf-cla: yes, ok-to-test, approved

#2052 Handle external managed cluster's image deletion
  controllers/ibmpowervsimage_controller.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/S, approved

#2054 update powervs regions,zones
  docs/book/src/reference/regions-zones-mapping.md
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2042 Vpc machine reconciliation
  api/v1beta2/ibmvpcmachine_types.go
  cloud/scope/machine.go
  cloud/scope/machine_test.go
  controllers/ibmvpcmachine_controller.go
  controllers/ibmvpcmachine_controller_test.go
  pkg/cloud/services/vpc/mock/vpc_generated.go
  pkg/cloud/services/vpc/service.go
  pkg/cloud/services/vpc/vpc.go
Labels: lgtm, area/provider/ibmcloud, size/XXL, cncf-cla: yes, ok-to-test, approved

#2066 [release-0.8]Update cluster-api to v1.7.8
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2063 Update version references to 0.10.0
  metadata.yaml
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#2068 Update golang version to 1.22.9
  Makefile
  hack/ccm/Makefile
  netlify.toml
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#2064 Update release branch versions for weekly security scan
  .github/workflows/weekly-security-scan.yaml
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#2067 [release-0.9]Update cluster-api to v1.8.5
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2040 Refactor ReconcileNetwork
  cloud/scope/powervs_cluster.go
  cloud/scope/powervs_cluster_test.go
  controllers/ibmpowervscluster_controller.go
  controllers/ibmpowervscluster_controller_test.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#1793 Use multiple zones in case of multiple subnets
  cloud/scope/powervs_cluster.go
  cloud/scope/powervs_cluster_test.go
  controllers/ibmpowervscluster_controller_test.go
  pkg/cloud/services/vpc/mock/vpc_generated.go
  pkg/cloud/services/vpc/service.go
  pkg/cloud/services/vpc/vpc.go
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, ok-to-test, size/L, approved
