Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2025-06, with the labels that each got.

#2390 Update cluster-api version to v1.11.0-alpha.0 in e2e test files
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
  test/e2e/data/shared/metadata.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/S, approved

#2392 Update cluster-api to v1.11.0-alpha.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  metadata.yaml
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
  test/e2e/data/shared/metadata.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#2395 Verify generation of e2e templates as a part of make generate target
  Makefile
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved

#2397 [release-0.10]Update cluster-api version to 1.9.9
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2404 Bump and adopt golangci-lint v2
  .golangci.yml
  Makefile
  go.mod
  go.sum
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  pkg/ignition/ignition.go
Labels: lgtm, area/provider/ibmcloud, priority/important-longterm, size/XL, cncf-cla: yes, approved, kind/cleanup
