Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2025-07, with the labels that each got.

#2405 Update cluster-api version to v1.11.0-alpha.2
  controllers/ibmpowervsmachine_controller_test.go
  controllers/ibmvpcmachine_controller_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#2414 Update the cluster templates with the latest changes added in cluster-api version 1.11.0-alpha.2
  templates/bases/powervs/cluster.yaml
  templates/bases/powervs/kcp.yaml
  templates/bases/powervs/kubeadm-config.yaml
  templates/bases/powervs/md.yaml
  templates/bases/vpc/cluster.yaml
  templates/bases/vpc/kcp.yaml
  templates/bases/vpc/md.yaml
  templates/cluster-template-powervs-clusterclass.yaml
  templates/cluster-template-powervs-clusterclass/cluster-with-kcp.yaml
  templates/cluster-template-powervs-clusterclass/md.yaml
  templates/cluster-template-powervs-create-infra.yaml
  templates/cluster-template-powervs.yaml
  templates/cluster-template-vpc-clusterclass.yaml
  templates/cluster-template-vpc-clusterclass/cluster-with-kcp.yaml
  templates/cluster-template-vpc-clusterclass/md.yaml
  templates/cluster-template.yaml
  test/e2e/data/templates/cluster-template-powervs-md-remediation.yaml
  test/e2e/data/templates/cluster-template-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#2415 🌱 Remove external cloud-provider flag from apiserver as its removed in k8s v1.33
  templates/cluster-template-powervs-clusterclass.yaml
  templates/cluster-template-powervs-clusterclass/cluster-with-kcp.yaml
  templates/cluster-template-powervs-create-infra.yaml
  templates/cluster-template-powervs.yaml
  templates/cluster-template-powervs/kcp.yaml
  templates/cluster-template-vpc-clusterclass.yaml
  templates/cluster-template-vpc-clusterclass/cluster-with-kcp.yaml
  templates/cluster-template.yaml
  templates/cluster-template/kcp.yaml
  test/e2e/data/templates/cluster-template-powervs-md-remediation.yaml
  test/e2e/data/templates/cluster-template-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2436 Update cluster-api to v1.11.0-beta.0
  controllers/ibmpowervsmachine_controller.go
  controllers/ibmpowervsmachine_controller_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/L, approved

#2437 Fix VPC cluster templates post CAPI version bump to v1.11.0-beta.0
  templates/bases/vpc/kcp.yaml
  templates/cluster-template-vpc-clusterclass.yaml
  templates/cluster-template-vpc-clusterclass/cluster-with-kcp.yaml
  templates/cluster-template.yaml
  test/e2e/data/templates/cluster-template-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/S, approved

#2438 Fix VPC cluster reconcileV2 delete flow
  controllers/ibmvpccluster_controller.go
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved
