Repository kubernetes-sigs/cluster-api-provider-ibmcloud, pull requests merged in 2025-09, with the labels that each got.

#2482 Update cluster-api version to v1.11.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2486 Post v0.12.0 release housekeeping
  .github/workflows/weekly-security-scan.yaml
  README.md
  docs/book/src/developer/release-support-guidelines.md
  metadata.yaml
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, size/S, approved

#2490 [release-0.11]Update cluster-api and golang version
  Makefile
  go.mod
  go.sum
  hack/ccm/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  netlify.toml
  test/e2e/config/ibmcloud-e2e-powervs.yaml
  test/e2e/config/ibmcloud-e2e-vpc.yaml
Labels: lgtm, area/provider/ibmcloud, cncf-cla: yes, approved, size/M

#2487 Add release-0-12 book link
  docs/book/src/introduction.md
Labels: lgtm, area/provider/ibmcloud, size/XS, cncf-cla: yes, approved
